<!DOCTYPE html>
<html lang="en">
  <head>
    <title>report</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <form action="/admin/report" method="post">
      <h1>Generate report</h1>
      <div class="report">
        <textarea name="report" cols="30" rows="10"></textarea>
      </div>
      <div><button class="btn">generate</button></div>
    </form>
  </body>
</html>
