<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="advert">
      <img src="advert/advert1.gif" alt="" width="300" height="300" />
      <img src="advert/advert5.gif" alt="" width="300" height="300" />
      <img src="advert/advert4.gif" alt="" width="300" height="300" />
      <img src="advert/advert3.gif" alt="" width="300" height="300" />
      <img src="advert/advert2.gif" alt="" width="300" height="300" />
    </div>
  </body>
</html>
