<div class="navigation">
  <link rel="stylesheet" href="../dropDown.css" />

  <div class="filter">
    <div class="dropdown">
      <a href="#" class="dropbtn navigation">Filter cloth</a>
      <div class="dropdown-content">
        <a href="/filterCategory/all">All</a>
        <a href="/filterCategory/male">Male</a>
        <a href="/filterCategory/female">Female</a>
        <a href="/filterCategory/child">Children</a>
        <a href="/filterClothName/dress">Dress</a>
        <a href="/filterClothName/tishert">T-shirt</a>
        <a href="/filterClothName/jacket">Jacket</a>
        <a href="/filterClothName/Trouser">Trouser</a>
        <a href="/filterClothName/shose">Shose</a>
        <a href="/filter/date">New </a>
      </div>
    </div>
  </div>
  <a href="/" class="navanchor">Home</a>
  <a href="/signUp" class="navanchor">Signup</a>
  <a href="/about" class="navanchor">About</a>
  <a href="/contact" class="navanchor">Contact</a>
  <a href="/login" class="navanchor">Login</a>
  <a href="#"
    ><div class="cartIcon"><span>1</span></div></a
  >
</div>
